div{
    height: 350;
    width : 1000;
    background-color: black;
    
}
h2{
    color: rgb(161, 42, 190);
    
}
p{
    color: white;
}

body{
    background-color: black;
    font-family: Times;
    font-weight: bold;
    align-content: center;
    text-align: center;
    font-size: 30;
}

a{
    color: orange;
}